@font-face {
    font-family: "OpenSans";
    src: url("Assets/OpenSans-Regular.ttf");
}

/* UNCHANGED STYLES */
body {
    margin: 0;
    font-family: OpenSans, sans-serif;
    line-height: 2em;
    text-align: center;
    font-size: large;
    padding-top: 10vh;
}

header {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 9999;
}

div.desktop, div.mobile {
    height: 10vh;
    background-image: url("Assets/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div#menu a {
    padding: 0.5em;
}

div.mobile {
    display: flex;
    align-items: center;
    justify-content: end;
}

.burgerImage {
    margin-right: 1rem;
}

a.header-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.has-background-image {
    padding-top: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.is-parallax-parent {
    min-height: 80vh;
    position: relative;
    overflow: hidden;
}

img.is-parallax-child {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

img.background {
    z-index: 0;
    object-fit: fill;
}

img.logo {
    z-index: 1;
    object-fit: scale-down;
}
p {
    text-align: left;
}

img.image {
    width: 100%;
    height: auto;
    object-fit: fill;
}

footer {
    width: 100%;
    padding-top: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

footer a, span, h3 {
    color: darkgray;
}

span {
    font-size: smaller;
}

h3 {
    font-weight: normal;
}
/* DESKTOP  VERSION */
@media screen and (min-width: 1024px) {
    nav#desktop-header {
        display: inline;
    }

    nav#mobile-header {
        display: none;
    }

    .has-background-image {
        background-image: url("Assets/header-bg-2x.png");
    }

    .has-fixed-width {
        width: 40vw;
    }

    .aside-style {
        display: flex;
        height: 140vh;
        align-items: flex-start;
    }

    div.ad {
        position: sticky;
        align-self: flex-end;
        bottom: 0;
    }

    .is-default-grid {
        margin: 0 5rem 0 5rem;
        grid-column-gap: 2rem;
    }

    .is-grid-section-2 {
        grid-row-gap: 1rem;
        grid-template-columns: 300px auto;
        grid-template-rows: 290px auto;
        grid-template-areas: "image text1" "text2 text2";
    }

    .is-grid-footer {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: "first second third";
    }

    div.has-different-place {
        flex-direction: column;
    }

    footer {
        height: 40vh;
        background-image: url("Assets/darthvader_2x.jpg");
    }
}

/* MOBILE VERSION */
@media screen and (max-width: 1024px) {
    body {
        font-size: medium;
    }

    nav#desktop-header, div#burgerMenu {
        display: none;
    }

    nav#mobile-header {
        display: inline;
    }

    .has-background-image {
        background-image: url("Assets/header-bg.png");
    }

    .has-text-align {
        text-align: center;
    }

    aside.aside-style {
        display: none;
    }

    .is-grid-section-2 {
        grid-row-gap: 1rem;
        grid-template-columns: 300px;
        grid-template-rows: 290px auto auto;
        grid-template-areas: "image" "text1" "text2";
        margin-left: 3rem;
    }

    .is-grid-footer {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        grid-template-areas: "first second" "third third";
    }

    footer {
        background-image: url("Assets/darthvader.jpg");
        background-position: center;
    }

    div.has-different-place {
        flex-direction: row;
    }
}

/* GENERIC CLASSES */
.is-flex {
    display: flex;
}

.is-justify-space-around {
    justify-content: space-around;
}

.is-align-items-center {
    align-items: center;
}

.is-flex-direction-column {
    flex-direction: column;
}

.is-justify-center {
    justify-content: center;
}

.is-align-items-flex-start {
    align-items: flex-start;
}

.is-default-grid {
    display: grid;
}

.has-right-margin {
    margin-right: 2rem;
}

.has-small-padding {
    padding: 10px;
}

.is-flex-direction-column {
    flex-direction: column;
}
